{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
  },
  "globals": {
    "google": true
  },
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "modules": true,
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": ["error"],
    "require-atomic-updates": 0,
    "quotes": [
      2,
      "single",
      "avoid-escape"
    ],
    "indent": 0,
    "no-console": "warn",
    "no-debugger": "warn",
    "react/prop-types": 0
  }
}
