.section-wrapper.white {
	background: #000;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	&.active {
		.img-wrapper,
		h2,
		img,
		p,
		button,
		a {
			opacity: 1 !important;
			transform: translate(0) !important;
		}
	}

	h2,
	p,
	button,
	a {
		transform: translateX(-20px);
		opacity: 0;
		transition: ease-in-out .5s;
		transition-property: transform, opacity;
	}

	a:nth-child(2) {
		transition-delay: .2s;
	}

	a:nth-child(3) {
		transition-delay: .3s;
	}

	.section-logo {
		display: flex;
	}

	.connection {
		display: flex;
		align-items: center;
		margin-top: 10vh;

		h2 {
			margin-right: 2.778vmin;
			transition-delay: .6s;
		}

		button {
			margin-left: 1.852vmin;

			&:nth-child(1) {
				transition-delay: .4s;
			}

			&:nth-child(2) {
				transition-delay: .2s;
			}
		}
	}

	.logos {
		width: 100%;
		margin-left: 6.481vmin;

		img {
			min-width: 50px;
		}

		.logos-row {
			display: flex;
			justify-content: space-between;
		}

		.img-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 1.852vmin;
			opacity: 0;
			transform: translateX(20px);
			transition: ease-in-out .5s;
			transition-property: transform, opacity;

			img {
				transition: ease-in-out all .2s;
				cursor: pointer;

				&:hover {
					transform: scale(1.2) !important;
				}
			}

			&:nth-child(1) {
				transition-delay: .1s;
			}

			&:nth-child(2) {
				transition-delay: .2s;
			}

			&:nth-child(3) {
				transition-delay: .3s;
			}

			&:nth-child(4) {
				transition-delay: .4s;
			}

			&:nth-child(5) {
				transition-delay: .5s;
			}

			&:nth-child(6) {
				transition-delay: .6s;
			}

			&:nth-child(7) {
				transition-delay: .2s;
			}

			&:nth-child(8) {
				transition-delay: .3s;
			}

			&:nth-child(9) {
				transition-delay: .4s;
			}

			&:nth-child(10) {
				transition-delay: .5s;
			}

			&:nth-child(11) {
				transition-delay: .6s;
			}

			&:nth-child(12) {
				transition-delay: .3s;
			}

			&:nth-child(13) {
				transition-delay: .4s;
			}

			&:nth-child(14) {
				transition-delay: .5s;
			}

			&:nth-child(15) {
				transition-delay: .6s;
			}

			&:nth-child(16) {
				transition-delay: .7s;
			}
		}
	}

	@media screen and (max-width: 1440px) {
		.connection {
			margin-top: 1.852vmin;
		}
	}

	@media screen and (max-width: 991px) {
		.section-logo {
			flex-wrap: wrap;
		}

		h2 {
			text-align: center;
			width: 100%;
			margin-bottom: 3.704vmin;
		}

		min-height: unset !important;
		height: auto !important;
		max-height: unset !important;

		.connection {
			flex-wrap: wrap;
			justify-content: space-around;
	
			h2 {
				width: 100%;
			}
		}

		.logos {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr;
			gap: 25px 25px;
			grid-template-areas:
				". . . ."
				". . . ."
				". . . ."
				". . . .";
			margin-left: 0;
			
			.img-wrapper {
				width: 100% !important;
				height: 100%;
	
				img {
					width: 100%;
					max-height: none;
				}
			}
			margin-bottom: 90px;
		}
		
		footer.container {
			flex-direction: column;
		}
	
		.social-network {
			margin-bottom: 20px;
		}
	}

}
