.section-wrapper.white {
  background: #000;

  &.active {
    .img-wrapper,
    h2,
    img,
    p,
    button,
    a {
      opacity: 1 !important;
      transform: translate(0) !important;
    }
  }

  h2,
  p,
  button,
  a {
    transform: translateX(-20px);
    opacity: 0;
    transition: ease-in-out 0.5s;
    transition-property: transform, opacity;
  }

  a:nth-child(2) {
    transition-delay: 0.2s;
  }
  a:nth-child(3) {
    transition-delay: 0.3s;
  }

  .section-logo {
    display: flex;
  }

  .connection {
    display: flex;
    align-items: center;
    margin-top: 10vh;

    h2 {
      margin-right: 30px;
      transition-delay: 0.6s;
    }

    button {
      margin-left: 20px;

      &:nth-child(1) {
        transition-delay: 0.4s;
      }

      &:nth-child(2) {
        transition-delay: 0.2s;
      }
    }
  }

  .logos {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;

    .img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      margin-bottom: 20px;
      opacity: 0;
      transform: translateX(20px);
      transition: ease-in-out 0.5s;
      transition-property: transform, opacity;

      img {
        transition: ease-in-out all 0.2s;
        cursor: pointer;

        &:hover {
          transform: scale(1.2) !important;
        }
      }

      &:nth-child(1) {
        transition-delay: 0.1s;
      }
      &:nth-child(2) {
        transition-delay: 0.2s;
      }
      &:nth-child(3) {
        transition-delay: 0.3s;
      }
      &:nth-child(4) {
        transition-delay: 0.4s;
      }
      &:nth-child(5) {
        transition-delay: 0.5s;
      }
      &:nth-child(6) {
        transition-delay: 0.6s;
      }
      &:nth-child(7) {
        transition-delay: 0.2s;
      }
      &:nth-child(8) {
        transition-delay: 0.3s;
      }
      &:nth-child(9) {
        transition-delay: 0.4s;
      }
      &:nth-child(10) {
        transition-delay: 0.5s;
      }
      &:nth-child(11) {
        transition-delay: 0.6s;
      }
      &:nth-child(12) {
        transition-delay: 0.3s;
      }
      &:nth-child(13) {
        transition-delay: 0.4s;
      }
      &:nth-child(14) {
        transition-delay: 0.5s;
      }
      &:nth-child(15) {
        transition-delay: 0.6s;
      }
      &:nth-child(16) {
        transition-delay: 0.7s;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        width: 16.66%;
      }
    }
  }

  @media screen and (max-width: 1440px) {
    .connection {
      margin-top: 20px;
    }

    .img-wrapper {
      height: 60px;

      img {
        max-height: 60px;
      }
    }
  }
}
