.section-wrapper.gallery {
	.container {
		display: flex;
		align-items: flex-start;
    justify-content: center;
	}

	display: flex;
	align-items: center;
	background: #000;

	h2 {
		padding-bottom: 5.55vmin;
	}

	&.active {
		h2,
		button,
		article {
			transform: translate(0) !important;
			opacity: 1 !important;
		}
	}

	.gallery {
		height: 80vmin;
		width: 110vmin;

		article {
			opacity: 0;
			transform: translateX(60px);
		}

		.second article {
			opacity: 0;
			transform: translateX(60px);
		}
	}

	.gallery-info {
		h2 {
			opacity: 0;
			transform: translateX(-15px);
			transition: ease-in-out .5s all;
		}

		button {
			opacity: 0;
			transform: translateX(-10px);

			&:nth-child(2) {
				transition: ease-in-out .5s .2s;
				transition-property: transform, opacity;
			}

			&:nth-child(3) {
				transition: ease-in-out .5s .4s;
				transition-property: transform, opacity;
			}

			&:nth-child(4) {
				transition: ease-in-out .5s .6s;
				transition-property: transform, opacity;
			}
		}
	}

	.gallery {
		width: 125vmin;
		margin-left: 70px;
		perspective: 100px;
		display: flex;

		&.hover-on {
			&-1 .first article {
				&:nth-child(1) {
					width: 100%;
				}

				&:nth-child(2) {
					width: 95%;
				}
			}

			&-2 .first article {
				&:nth-child(1) {
					width: 95%;
				}

				&:nth-child(2) {
					width: 100%;
				}
			}

			&-3 .first article {
				&:nth-child(1) {
					width: 95%;
				}

				&:nth-child(2) {
					width: 100%;
				}
			}

			&-4 .first article {
				&:nth-child(1) {
					width: 100%;
				}

				&:nth-child(2) {
					width: 95%;
				}
			}

			&-1 .second article {
				&:nth-child(1) {
					width: 95%;
				}

				&:nth-child(2) {
					width: 100%;
				}
			}

			&-2 .second article {
				&:nth-child(1) {
					width: 100%;
				}

				&:nth-child(2) {
					width: 95%;
				}
			}

			&-3 .second article {
				&:nth-child(1) {
					width: 100%;
				}

				&:nth-child(2) {
					width: 95%;
				}
			}

			&-4 .second article {
				&:nth-child(1) {
					width: 95%;
				}

				&:nth-child(2) {
					width: 100%;
				}
			}
		}

		.first {
			align-items: flex-end;

			article {
				&:first-child {
					width: 100%;
				}

				&:last-child {
					width: 95%;
				}
			}
		}

		.second {
			align-items: flex-start;

			article {
				&:first-child {
					width: 90%;
				}

				&:last-child {
					width: 100%;
				}
			}
		}

		.first,
		.second {
			display: flex;
			transition: ease-in-out all .5s;
			flex-direction: column;
		}

		.first {
			flex-shrink: 1;
		}

		article {
			cursor: pointer;
			box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, .75);
			position: relative;
			padding: 30px;
			transition: ease-in-out all .5s;

			&:hover .video-container {
				border: 2px solid #fff;
			}

			&:hover .text {
				opacity: 1;
			}

			.video-container {
				position: relative;
				transition: ease-in-out all .5s;
			}

			.poster {
				position: absolute;
				height: 100%;
				width: 100%;
				z-index: 3;
				top: 0;
				left: 0;
				background-size: cover;
				background-position: center;
				transition: ease-in-out all .5s;

				&.hide {
					opacity: 0;
				}
			}

			.filter {
				position: absolute;
				height: 100%;
				width: 100%;
				z-index: 1;
				background: #0008;
			}

			.text {
				padding: 60px;
				position: absolute;
				bottom: 0;
				z-index: 2;
				pointer-events: none;
				opacity: 0;
				transition: ease-in-out all .5s;
			}

			h3 {
				font-size: 2.592vmin;
				font-weight: 700;
				margin-bottom: 28px;
				color: #fc3;
			}

			video {
				object-fit: cover;
				height: 100%;
				width: 100%;
				background-position: center center;
				background-size: cover;
				position: relative;
			}
		}
	}

	.video-wrapper {
		position: fixed;
		z-index: 998;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		background: #0005;
		display: flex;
		justify-content: center;
		align-items: center;

		iframe {
			height: 65vh;
			width: 80vw;
			display: none;

			&.active {
				display: block;
			}
		}

		&.hidden {
			opacity: 0;
			z-index: -1;
			pointer-events: none;
		}
	}

	@media screen and (max-width: 991px) {
		height: auto !important;
		max-height: unset;
		min-height: unset;
		padding: 20px 0;

		.gallery .text-mobile {
			margin-bottom: 40px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			h3 {
				font-size: 6.25vmin;
				color: #FFCC33;
				font-weight: 600;

				&:first-child {
					margin-right: 20px;
				}
			}
		}

		.gallery .first {
			align-items: flex-start;
		}

		h2 {
			padding-bottom: 0;
		}

		.first,
		.second {
			flex-shrink: 1 !important;
		}

		.gallery {
			height: auto;
			width: 100%;
		}

		.container {
			display: block;

			.gallery-info {
				display: flex;
				flex-wrap: wrap;
				text-align: center;
				justify-content: center;

				h2 {
					width: 100%;
				}
			}
		}

		.gallery .second {
			width: 100%;
		}

		.gallery {
			flex-wrap: wrap;
			margin-left: 0;

			article {
				padding: 0;
				margin-bottom: 20px;
				width: 100% !important;
			}
		}
	}
}
