.section-wrapper.gallery {
	.container {
		display: flex;
		align-items: flex-start;
	}

	background: #000;

	h2 {
		padding-bottom: 60px;
	}

	&.active {
		h2,
		button, article {
			transform: translate(0) !important;
			opacity: 1 !important;
		}
	}

	.gallery {
		article {
			opacity: 0;
			transform: translateX(60px);
		}

		.second article {
			opacity: 0;
			transform: translateX(60px);
		}
	}

	.gallery-info {
		h2 {
			font-size: 110px;
			opacity: 0;
			transform: translateX(-15px);
			transition: ease-in-out .5s all;
		}

		button {
			opacity: 0;
			transform: translateX(-10px);

			&:nth-child(2) {
				transition: ease-in-out .5s .2s;
				transition-property: transform, opacity;
			}

			&:nth-child(3) {
				transition: ease-in-out .5s .4s;
				transition-property: transform, opacity;
			}

			&:nth-child(4) {
				transition: ease-in-out .5s .6s;
				transition-property: transform, opacity;
			}
		}
	}

	.gallery {
		width: 100%;
		margin-left: 70px;
		perspective: 100px;
		display: flex;

		&.hover-on {
			&-1 .first article {
				&:nth-child(1) {
					width: 100%;
				}
				&:nth-child(2) {
					width: 80%;
				}
			}
			&-2 .first article {
				&:nth-child(1) {
					width: 80%;
				}
				&:nth-child(2) {
					width: 100%;
				}
			}
			&-3 .first article {
				&:nth-child(1) {
					width: 80%;
				}
				&:nth-child(2) {
					width: 100%;
				}
			}
			&-4 .first article {
				&:nth-child(1) {
					width: 100%;
				}
				&:nth-child(2) {
					width: 80%;
				}
			}
			&-1 .second article {
				&:nth-child(1) {
					width: 80%;
				}
				&:nth-child(2) {
					width: 100%;
				}
			}
			&-2 .second article {
				&:nth-child(1) {
					width: 100%;
				}
				&:nth-child(2) {
					width: 80%;
				}
			}
			&-3 .second article {
				&:nth-child(1) {
					width: 100%;
				}
				&:nth-child(2) {
					width: 80%;
				}
			}
			&-4 .second article {
				&:nth-child(1) {
					width: 80%;
				}
				&:nth-child(2) {
					width: 100%;
				}
			}
		}

		.first {
			align-items: flex-end;

			article {
				&:first-child {
					width: 95%;
				}
				&:last-child {
					width: 85%;
				}
			}
		}

		.second {
			align-items: flex-start;

			article {
				&:first-child {
					width: 80%;
				}
				&:last-child {
					width: 90%;
				}
			}
		}

		.first, .second {
			display: flex;
			transition: ease-in-out all 0.5s;
			flex-direction: column;
		}

		.first {
			flex-shrink: 1;
		}

		article {
			cursor: pointer;
			box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, .75);
			position: relative;
			padding: 30px;
			transition: ease-in-out all .5s;

			&:hover .video-container {
				border: 2px solid #FFFFFF;
			}

			&:hover .text {
				opacity: 1;
			}

			.video-container {
				position: relative;
				transition: ease-in-out all .5s;
			}

			.poster {
				position: absolute;
				height: 100%;
				width: 100%;
				z-index: 3;
				top: 0;
				left: 0;
				background-size: cover;
				background-position: center;
				transition: ease-in-out all .5s;

				&.hide {
					opacity: 0;
				}
			}

			.filter {
				position: absolute;
				height: 100%;
				width: 100%;
				z-index: 1;
				background: #00000088;
			}

			.text {
				padding: 60px;
				position: absolute;
				bottom: 0;
				z-index: 2;
				pointer-events: none;
				opacity: 0;
				transition: ease-in-out all .5s;
			}

			h3 {
				font-size: 28px;
				font-weight: 700;
				margin-bottom: 28px;
				color: #FFCC33;
			}

			video {
				object-fit: cover;
				height: 100%;
				width: 100%;
				background-position: center center;
				background-size: cover;
				position: relative;
			}
		}
	}

	.video-wrapper {
		position: fixed;
		z-index: 998;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		background: #0005;
		display: flex;
		justify-content: center;
		align-items: center;

		iframe {
			height: 65vh;
			width: 80vw;
			display: none;

			&.active {
				display: block;
			}
		}

		&.hidden {
			opacity: 0;
			z-index: -1;
			pointer-events: none;
		}
	}
}
