.egg {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 999;
	background: #fff;
	padding: 20px;
	border-radius: 10px;

	h2 {
		font-size: 22px;
		margin: 0;
	}

	svg {
		height: 20px;
		margin-left: 10px;
	}

	p {
		display: flex;
		align-items: center;
	}
}
