header {
	position: absolute;
	display: flex;
	justify-content: space-between;
	z-index: 999;
	padding-top: 60px !important;
	align-items: center;

	.logo {
		height: 72px;
	}
}

.social-network a:first-child div {
	margin-left: 0;
}

.social-network a {
	div {
		display: inline-block;
		height: 5.5vmin;
		width: 5.5vmin;
		margin-left: 30px;
		transition: ease-in-out .5s background;
	}

	&:first-child div {
		background: url(../../assests/img/svg/insta.svg) center center / cover;

		&:hover {
			background: url(../../assests/img/svg/insta-white.svg) center center / cover;
		}
	}

	&:last-child div {
		background: url(../../assests/img/svg/you.svg) center center / cover;

		&:hover {
			background: url(../../assests/img/svg/you-white.svg) center center / cover;
		}
	}
}
